name: Deploy to EKS

on:
  push:
    branches:
      - main
      - feature/*

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Update config
      run: aws eks --region us-east-1 update-kubeconfig --name food-app-cluster

    - name: Create namespace
      run: kubectl create namespace food-app-ns

    - name: Deploy to EKS
      run: kubectl apply -f k8s/deployments.yml && kubectl apply -f k8s/services.yml

    - name: sleep for 60s
      run: sleep 60

    - name: Get deployment 
      run: kubectl get deployments -n food-app-ns

    - name: Get service 
      run: kubectl get services -n food-app-ns
