name: Build Restaurant Application
on:
  push:
    branches:
      - feature/*

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Set Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Destroy services
      run: |
        aws eks delete-cluster --name restaurant-app
        eksctl delete nodegroup --cluster=restaurant-app --name=ng-1efaa482
        aws ecr delete-repository --repository-name foodapp-frontend --force
        aws ecr delete-repository --repository-name foodapp-backend --force

    - name: Destroy containers
      run: |
        kubectl delete service -n food-app-ns
        kubectl delete deployment -n food-app-ns
        kubectl delete ns food-app-ns